
services:
  test-db:
    image: postgres:18
    container_name: test-db
    restart: always
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PWD} 
      POSTGRES_DB: ${TEST_DB_NAME} 
  
    ports:
      - "5433:5432"
    volumes:
      - test-db-data:/var/lib/postgresql/MAJOR/docker
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $$DB_USER"]
      interval: 3s
      timeout: 3s
      retries: 5

volumes:
  test-db-data: